@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Nerko+One&display=swap');

.entire {
    display: flex;
    justify-content: center;
}

.whole {
    display: flex;
    background: rgb(0, 0, 0);
    background-image: url("/images/fireworksopt.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1500px;
}

.nav-icons {
    height: 100%;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;



    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(31, 31, 31, 0.8);
    border-radius: 5px;
    flex-grow: 1;

}

.header-main {
    flex-basis: 100%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-grow: 1;
    justify-content: end;
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;

    color: #fff;
    font-family: sans-serif;

    background-color: rgb(31, 31, 31, 0.8);
    border-radius: 5px;
    align-items: left;
    margin-left: 40px;
    padding: 15px;
}

.heading {
    font-size: 270%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;


}

.sub-heading {
    font-size: 175%;

}

.fa-bowl-rice {
    font-size: 700%;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    text-align: right;
    color: #e2d96c;

}

.main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    justify-content: center;
    align-items: center;

    gap: 15px;
    margin-left: 40px;
}

/* adding padding above images to separate from main text */
.image {

    margin-top: 20px;

}

/* setting main text style for all pages */
.text {
    background-color: rgb(31, 31, 31, 0.8);
    border-radius: 5px;
    /* flex-basis: 40%; */
    min-height: 1150px;
    font-size: 1.2rem;
    color: #fff;
    padding: 30px;
    margin-bottom: 20px;


}

/* 
main> :nth-child(2) {
    background-color: rgb(31, 31, 31, 0.8);
    border-radius: 5px;
    flex-basis: 50%;
    min-height: 1150px;
    padding: 30px;
} */


i {
    color: #fff;
    font-size: 150%;
    margin-top: 16px;
    padding: 10px;
}

a>i:hover {
    transform: scale(1.3);
}


/* setting all background colour to solid black */
body {
    background: rgb(0, 0, 0);


}

/* styling images found on pages */
img {
    border-radius: 20px;
    border-style: solid;
    border-color: #fff;
    width: 30%;
    height: 15%;



}



/* applying styles to tables throughout the pages, adding borders, centering items and choosing border colour */
table,
th,
td {

    border: 1px solid white;
    text-align: center;
}

/* applying padding only to the content of the table, not the main frame */
th,
td {

    padding: 15px;
}

/* creating another "box" in the form of lighter background around the recipes */
.recipe1 {
    background-color: rgb(40, 40, 40, 0.5);
    padding: 20px;
    border-radius: 15px;
}

.recipe2 {
    margin-top: 20px;
    background-color: rgb(40, 40, 40, 0.5);
    padding: 20px;
    border-radius: 15px;

}

/* applying styles to contact info box */
aside {

    margin-top: 20px;
    background-color: rgb(40, 40, 40, 0.5);
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 20px;
}

/* applying styles to google form */
iframe {
    display: flex;
    flex-basis: 100%;
    min-height: 1300px;
    background-color: rgb(40, 40, 40, 0.5);
    border-radius: 15px;
}


@media screen and (max-width: 900px) {

    .header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;

    }

    .heading,
    .sub-heading {
        display: none;
        /* font-size: 90%; */
    }

    .fa-bowl-rice {
        text-align: center;
        padding: unset;
        margin: unset;
        grid-area: 1 / 1;
    }
}